<div id="footer">
<p>
Copyright &copy; 2011 &mdash; <span>ProspektDevice</span> ist ein Produkt von Oliver Jakoubek. <a href="/kontakt" title="Kontaktformular und Übersicht über Kontaktmöglichkeiten">Kontakt</a>
</p>
</div>

[% INCLUDE piwik.tt2 %]

</body>
</html>
